django>=4.2,<5.0
djangorestframework
django-environ
psycopg2-binary
gunicorn
uvicorn[standard]
djangorestframework-simplejwt
redis
pytest
pytest-django
google-generativeai
pydantic>=2.0
tenacity
langgraph
channels
channels_redis
celery
